files: '.py'
exclude: '.git'
default_stages: [pre-commit]

repos:
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black

  - repo: https://github.com/timothycrosley/isort
    rev: 6.0.1
    hooks:
      - id: isort
        args: ["--profile", "black"]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: debug-statements

  - repo: https://github.com/AgnieszkaZaba/devops_tests
    rev: 6260ff80f0fb46f72de26dcbe173ce5564f236de
    hooks:
      - id: check-notebook-open-atmos-structure
        name: check notebook has open-atmos structure
        args: [--repo-name=PyPartMC]
