exclude examples
graft gitmodules/partmc/src
graft gitmodules/sundials/src/sunnonlinsol/newton
graft gitmodules/sundials/src/sunnonlinsol/fixedpoint
graft gitmodules/sundials/src/nvector/serial
graft gitmodules/sundials/src/sunlinsol/band
graft gitmodules/sundials/src/sunlinsol/dense
graft gitmodules/sundials/src/cvode
graft gitmodules/sundials/src/sundials
graft gitmodules/sundials/include/cvode
graft gitmodules/sundials/include/sundials
graft gitmodules/sundials/include/sunnonlinsol
graft gitmodules/sundials/include/sunmatrix
graft gitmodules/sundials/include/sunlinsol
graft gitmodules/sundials/include/nvector
include gitmodules/sundials/cmake/SundialsSetupConfig.cmake
include gitmodules/sundials/cmake/SundialsSetupCompilers.cmake
include gitmodules/sundials/cmake/SundialsIndexSize.cmake
include gitmodules/sundials/src/sunmatrix/CMakeLists.txt
include gitmodules/sundials/src/sunmatrix/band/CMakeLists.txt
include gitmodules/sundials/src/sunmatrix/dense/CMakeLists.txt
include gitmodules/sundials/src/sunmatrix/sparse/CMakeLists.txt
include gitmodules/sundials/src/sunlinsol/CMakeLists.txt
include gitmodules/sundials/src/sunlinsol/band/CMakeLists.txt
include gitmodules/sundials/src/sunlinsol/dense/CMakeLists.txt
include gitmodules/sundials/src/sunlinsol/pcg/CMakeLists.txt
include gitmodules/sundials/src/sunlinsol/spbcgs/CMakeLists.txt
include gitmodules/sundials/src/sunlinsol/spfgmr/CMakeLists.txt
include gitmodules/sundials/src/sunlinsol/spgmr/CMakeLists.txt
include gitmodules/sundials/src/sunlinsol/sptfqmr/CMakeLists.txt
include gitmodules/sundials/src/sunnonlinsol/CMakeLists.txt
include gitmodules/sundials/src/nvector/CMakeLists.txt
include gitmodules/sundials/src/sunmatrix/band/sunmatrix_band.c
include gitmodules/sundials/src/sunmatrix/dense/sunmatrix_dense.c
include gitmodules/sundials/src/sunmatrix/sparse/sunmatrix_sparse.c
include gitmodules/sundials/src/sunmatrix/band/sunmatrix_band.c
include gitmodules/sundials/src/sunmatrix/dense/sunmatrix_dense.c
include gitmodules/sundials/src/sunlinsol/pcg/sunlinsol_pcg.c
include gitmodules/sundials/src/sunlinsol/spbcgs/sunlinsol_spbcgs.c
include gitmodules/sundials/src/sunlinsol/spfgmr/sunlinsol_spfgmr.c
include gitmodules/sundials/src/sunlinsol/spgmr/sunlinsol_spgmr.c
include gitmodules/sundials/src/sunlinsol/sptfqmr/sunlinsol_sptfqmr.c
include gitmodules/sundials/sundials_nvector_senswrapper.h

include gitmodules/pybind11/CMakeLists.txt
include gitmodules/pybind11/tools/pybind11Common.cmake
include gitmodules/pybind11/tools/pybind11Tools.cmake
include gitmodules/pybind11/tools/FindPythonLibsNew.cmake
graft gitmodules/pybind11/include/pybind11

graft gitmodules/json/include/nlohmann
include gitmodules/span/include/tcb/span.hpp
graft gitmodules/string_view-standalone/include/bpstd
include gitmodules/pybind11_json/include/pybind11_json/pybind11_json.hpp

include gitmodules/partmc/src/condense_solver.c
