include gitmodules/partmc/COPYING
graft gitmodules/partmc/src
include gitmodules/partmc/src/condense_solver.c

include gitmodules/camp/COPYING
graft gitmodules/camp/src

include gitmodules/json-fortran/LICENSE
graft gitmodules/json-fortran/src

include gitmodules/SuiteSparse/LICENSE.txt
graft gitmodules/SuiteSparse/KLU/Source
graft gitmodules/SuiteSparse/KLU/Include
graft gitmodules/SuiteSparse/COLAMD/Source
graft gitmodules/SuiteSparse/COLAMD/Include
graft gitmodules/SuiteSparse/AMD/Source
graft gitmodules/SuiteSparse/AMD/Include
graft gitmodules/SuiteSparse/BTF/Source
graft gitmodules/SuiteSparse/BTF/Include
include gitmodules/SuiteSparse/SuiteSparse_config/SuiteSparse_config.c
include gitmodules/SuiteSparse/SuiteSparse_config/SuiteSparse_config.h

include gitmodules/sundials/LICENSE
include gitmodules/sundials/CMakeLists.txt
graft gitmodules/sundials/src/sunnonlinsol/newton
graft gitmodules/sundials/src/sunnonlinsol/fixedpoint
graft gitmodules/sundials/src/nvector/serial
graft gitmodules/sundials/src/sunlinsol/band
graft gitmodules/sundials/src/sunlinsol/dense
graft gitmodules/sundials/src/sunlinsol/klu
graft gitmodules/sundials/src/cvode
graft gitmodules/sundials/src/sundials
graft gitmodules/sundials/include/cvode
graft gitmodules/sundials/include/sundials
graft gitmodules/sundials/include/sunnonlinsol
graft gitmodules/sundials/include/sunmatrix
graft gitmodules/sundials/include/sunlinsol
graft gitmodules/sundials/include/nvector
include gitmodules/sundials/cmake/SundialsSetupConfig.cmake
include gitmodules/sundials/cmake/SundialsSetupCompilers.cmake
include gitmodules/sundials/cmake/SundialsIndexSize.cmake
include gitmodules/sundials/src/sunmatrix/CMakeLists.txt
include gitmodules/sundials/src/sunmatrix/band/CMakeLists.txt
include gitmodules/sundials/src/sunmatrix/dense/CMakeLists.txt
include gitmodules/sundials/src/sunmatrix/sparse/CMakeLists.txt
include gitmodules/sundials/src/sunlinsol/CMakeLists.txt
include gitmodules/sundials/src/sunlinsol/pcg/CMakeLists.txt
include gitmodules/sundials/src/sunlinsol/spbcgs/CMakeLists.txt
include gitmodules/sundials/src/sunlinsol/spfgmr/CMakeLists.txt
include gitmodules/sundials/src/sunlinsol/spgmr/CMakeLists.txt
include gitmodules/sundials/src/sunlinsol/sptfqmr/CMakeLists.txt
include gitmodules/sundials/src/sunnonlinsol/CMakeLists.txt
include gitmodules/sundials/src/nvector/CMakeLists.txt
include gitmodules/sundials/src/sunmatrix/band/sunmatrix_band.c
include gitmodules/sundials/src/sunmatrix/dense/sunmatrix_dense.c
include gitmodules/sundials/src/sunmatrix/sparse/sunmatrix_sparse.c
include gitmodules/sundials/src/sunmatrix/band/sunmatrix_band.c
include gitmodules/sundials/src/sunmatrix/dense/sunmatrix_dense.c
include gitmodules/sundials/src/sunlinsol/pcg/sunlinsol_pcg.c
include gitmodules/sundials/src/sunlinsol/spbcgs/sunlinsol_spbcgs.c
include gitmodules/sundials/src/sunlinsol/spfgmr/sunlinsol_spfgmr.c
include gitmodules/sundials/src/sunlinsol/spgmr/sunlinsol_spgmr.c
include gitmodules/sundials/src/sunlinsol/sptfqmr/sunlinsol_sptfqmr.c

include gitmodules/pybind11/LICENSE
include gitmodules/pybind11/CMakeLists.txt
include gitmodules/pybind11/tools/pybind11Common.cmake
include gitmodules/pybind11/tools/pybind11Tools.cmake
include gitmodules/pybind11/tools/FindPythonLibsNew.cmake
include gitmodules/pybind11_json/include/pybind11_json/pybind11_json.hpp
graft gitmodules/pybind11/include/pybind11

include gitmodules/json/LICENSE.MIT
graft gitmodules/json/include/nlohmann

include gitmodules/span/LICENSE_1_0.txt
include gitmodules/span/include/tcb/span.hpp

include gitmodules/string_view-standalone/LICENSE
graft gitmodules/string_view-standalone/include/bpstd

include gitmodules/optional/include/tl/optional.hpp
include gitmodules/optional/COPYING

include gitmodules/netcdf-c/COPYRIGHT
include gitmodules/netcdf-c/CMakeLists.txt
include gitmodules/netcdf-c/config.h.cmake.in
include gitmodules/netcdf-c/include/netcdf.h
include gitmodules/netcdf-c/include/onstack.h
include gitmodules/netcdf-c/include/netcdf_dispatch.h.in
include gitmodules/netcdf-c/include/ncconfigure.h
include gitmodules/netcdf-c/include/netcdf_meta.h.in
include gitmodules/netcdf-c/include/ncdispatch.h
include gitmodules/netcdf-c/include/ncmodel.h
include gitmodules/netcdf-c/include/nc.h
include gitmodules/netcdf-c/include/ncuri.h
include gitmodules/netcdf-c/include/ncexternl.h
include gitmodules/netcdf-c/include/nc4internal.h
include gitmodules/netcdf-c/include/nc_logging.h
include gitmodules/netcdf-c/include/ncindex.h
include gitmodules/netcdf-c/include/nclist.h
include gitmodules/netcdf-c/include/nchashmap.h
include gitmodules/netcdf-c/include/nc_provenance.h
include gitmodules/netcdf-c/include/netcdf_f.h
include gitmodules/netcdf-c/include/nclog.h
include gitmodules/netcdf-c/include/ncbytes.h
include gitmodules/netcdf-c/include/ncrc.h
include gitmodules/netcdf-c/include/ncoffsets.h
include gitmodules/netcdf-c/include/ncpathmgr.h
include gitmodules/netcdf-c/include/ncxml.h
include gitmodules/netcdf-c/include/fbits.h
include gitmodules/netcdf-c/include/rnd.h
include gitmodules/netcdf-c/include/ncutf8.h
include gitmodules/netcdf-c/include/nccrc.h
include gitmodules/netcdf-c/include/nc3internal.h
include gitmodules/netcdf-c/include/nc3dispatch.h
include gitmodules/netcdf-c/include/nc4dispatch.h
include gitmodules/netcdf-c/include/ncs3sdk.h
include gitmodules/netcdf-c/include/ncauth.h
include gitmodules/netcdf-c/include/nchttp.h
include gitmodules/netcdf-c/include/netcdf_mem.h
include gitmodules/netcdf-c/include/netcdf_filter.h
include gitmodules/netcdf-c/include/netcdf_aux.h
include gitmodules/netcdf-c/libdispatch/utf8proc_data.c
include gitmodules/netcdf-c/libdispatch/utf8proc.h
include gitmodules/netcdf-c/libdispatch/dvar.c
include gitmodules/netcdf-c/libdispatch/ddim.c
include gitmodules/netcdf-c/libdispatch/dvarput.c
include gitmodules/netcdf-c/libdispatch/dvarget.c
include gitmodules/netcdf-c/libdispatch/ddispatch.c
include gitmodules/netcdf-c/libdispatch/dcompound.c
include gitmodules/netcdf-c/libdispatch/denum.c
include gitmodules/netcdf-c/libdispatch/daux.c
include gitmodules/netcdf-c/libdispatch/dvlen.c
include gitmodules/netcdf-c/libdispatch/nc.c
include gitmodules/netcdf-c/libdispatch/dfile.c
include gitmodules/netcdf-c/libdispatch/dnotnc4.c
include gitmodules/netcdf-c/libdispatch/dstring.c
include gitmodules/netcdf-c/libdispatch/nclist.c
include gitmodules/netcdf-c/libdispatch/nchashmap.c
include gitmodules/netcdf-c/libdispatch/dinstance_intern.c
include gitmodules/netcdf-c/libdispatch/dtype.c
include gitmodules/netcdf-c/libdispatch/dgroup.c
include gitmodules/netcdf-c/libdispatch/nclistmgr.c
include gitmodules/netcdf-c/libdispatch/dattget.c
include gitmodules/netcdf-c/libdispatch/dattinq.c
include gitmodules/netcdf-c/libdispatch/dvarinq.c
include gitmodules/netcdf-c/libdispatch/dfilter.c
include gitmodules/netcdf-c/libdispatch/derror.c
include gitmodules/netcdf-c/libdispatch/doffsets.c
include gitmodules/netcdf-c/libdispatch/datt.c
include gitmodules/netcdf-c/libdispatch/dattput.c
include gitmodules/netcdf-c/libdispatch/dcopy.c
include gitmodules/netcdf-c/libdispatch/drc.c
include gitmodules/netcdf-c/libdispatch/dpathmgr.c
include gitmodules/netcdf-c/libdispatch/dmissing.c
include gitmodules/netcdf-c/libdispatch/nclog.c
include gitmodules/netcdf-c/libdispatch/dutf8.c
include gitmodules/netcdf-c/libdispatch/utf8proc.c
include gitmodules/netcdf-c/libdispatch/ncbytes.c
include gitmodules/netcdf-c/libdispatch/dopaque.c
include gitmodules/netcdf-c/libdispatch/ncuri.c
include gitmodules/netcdf-c/libdispatch/dcrc64.c
include gitmodules/netcdf-c/libdispatch/dinstance.c
include gitmodules/netcdf-c/libdispatch/ds3util.c
include gitmodules/netcdf-c/libdispatch/dutil.c
include gitmodules/netcdf-c/libdispatch/dauth.c
include gitmodules/netcdf-c/libdispatch/dinfermodel.c
include gitmodules/netcdf-c/liblib/nc_initialize.c
include gitmodules/netcdf-c/libsrc/ncx.h
include gitmodules/netcdf-c/libsrc/ncio.h
include gitmodules/netcdf-c/libsrc/putget.m4
include gitmodules/netcdf-c/libsrc/ncx.m4
include gitmodules/netcdf-c/libsrc/attr.m4
include gitmodules/netcdf-c/libsrc/nc3dispatch.c
include gitmodules/netcdf-c/libsrc/nc3internal.c
include gitmodules/netcdf-c/libsrc/dim.c
include gitmodules/netcdf-c/libsrc/var.c
include gitmodules/netcdf-c/libsrc/ncio.c
include gitmodules/netcdf-c/libsrc/v1hpg.c
include gitmodules/netcdf-c/libsrc/memio.c
include gitmodules/netcdf-c/libsrc/posixio.c
include gitmodules/netcdf-c/libsrc4/nc4internal.c
include gitmodules/netcdf-c/libsrc4/ncindex.c
include gitmodules/netcdf-c/libsrc4/nc4cache.c
include gitmodules/netcdf-c/libsrc4/nc4dispatch.c
include gitmodules/netcdf-c/libsrc4/nc4type.c
include gitmodules/netcdf-c/libsrc4/nc4grp.c
include gitmodules/netcdf-c/libsrc4/nc4var.c

include gitmodules/netcdf-fortran/COPYRIGHT
include gitmodules/netcdf-fortran/CMakeExtras/MatchNetCDFFortranTypes.cmake
include gitmodules/netcdf-fortran/fortran/typeSizes.F90
include gitmodules/netcdf-fortran/fortran/module_netcdf_nf_data.F90
include gitmodules/netcdf-fortran/fortran/module_netcdf_nc_data.F90
include gitmodules/netcdf-fortran/fortran/module_netcdf_nf_interfaces.F90
include gitmodules/netcdf-fortran/fortran/module_netcdf_nc_interfaces.F90
include gitmodules/netcdf-fortran/fortran/module_netcdf4_nf_interfaces.F90
include gitmodules/netcdf-fortran/fortran/module_netcdf4_nc_interfaces.F90
include gitmodules/netcdf-fortran/fortran/nf_nc4.F90
include gitmodules/netcdf-fortran/fortran/netcdf4.F90
include gitmodules/netcdf-fortran/fortran/nf_varaio.F90
include gitmodules/netcdf-fortran/fortran/nf_varsio.F90
include gitmodules/netcdf-fortran/fortran/nf_varmio.F90
include gitmodules/netcdf-fortran/fortran/nf_var1io.F90
include gitmodules/netcdf-fortran/fortran/nf_attio.F90
include gitmodules/netcdf-fortran/fortran/nf_control.F90
include gitmodules/netcdf-fortran/fortran/nf_genvar.F90
include gitmodules/netcdf-fortran/fortran/nf_dim.F90
include gitmodules/netcdf-fortran/fortran/nf_misc.F90
include gitmodules/netcdf-fortran/fortran/nf_nc_noparallel.F90
include gitmodules/netcdf-fortran/fortran/nf_lib.c
include gitmodules/netcdf-fortran/fortran/nf_genatt.F90
include gitmodules/netcdf-fortran/fortran/nf_geninq.F90
include gitmodules/netcdf-fortran/fortran/netcdf_externals.F90
include gitmodules/netcdf-fortran/fortran/netcdf_constants.F90
include gitmodules/netcdf-fortran/fortran/netcdf4_externals.F90
include gitmodules/netcdf-fortran/fortran/netcdf_overloads.F90
include gitmodules/netcdf-fortran/fortran/netcdf4_overloads.F90
include gitmodules/netcdf-fortran/fortran/netcdf_visibility.F90
include gitmodules/netcdf-fortran/fortran/netcdf4_visibility.F90
include gitmodules/netcdf-fortran/fortran/netcdf_file.F90
include gitmodules/netcdf-fortran/fortran/netcdf4_file.F90
include gitmodules/netcdf-fortran/fortran/netcdf_dims.F90
include gitmodules/netcdf-fortran/fortran/netcdf_attributes.F90
include gitmodules/netcdf-fortran/fortran/netcdf_variables.F90
include gitmodules/netcdf-fortran/fortran/netcdf4_variables.F90
include gitmodules/netcdf-fortran/fortran/netcdf_text_variables.F90
include gitmodules/netcdf-fortran/fortran/netcdf_expanded.F90
include gitmodules/netcdf-fortran/fortran/netcdf4_eightbyte.F90
include gitmodules/netcdf-fortran/fortran/netcdf4_func.F90
