name: pre-commit-hooks

on: [pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.10
        uses: actions/setup-python@v1
        with:
          python-version: "3.10"
      - name: Linting
        run: |
                pip install pre-commit
        
        # avoiding failures unrelated to PR contents 
                if [ "${{ github.event_name }}" = "schedule" ]; then
                pre-commit clean
                pre-commit autoupdate
                fi
                
                pre-commit run --all-files --show-diff-on-failure
